snippet init
#!/bin/bash
set -o errexit
cd $(dirname \$0)
${0}
endsnippet

snippet exportPath
export PATH=\$PATH:${0}
endsnippet

snippet if
if ${1:true}; then
	${0}
else
	:
fi
endsnippet

# See https://stackoverflow.com/questions/592620/how-can-i-check-if-a-program-exists-from-a-bash-script
snippet testExecutable
[ -x "$(command -v ${1:command})" ]${0}
endsnippet

snippet testMac
[ "$(uname)" == 'Darwin' ]${0}
endsnippet
