snippet for
for i in []
	${0}
endfor
endsnippet

snippet while
while 0
	${0}
endwhile
endsnippet

snippet marker
" ${1} {{{
${0}
" }}}
endsnippet

snippet augroup
augroup ${1:name}
	autocmd!
	${0}
augroup END
endsnippet
